body
{
    font-family: 'Gantari', sans-serif;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}
h1
{
    font-size: 40px;
}
.sumu{color: orange;}
.rumu{
    display: flex;
    margin-bottom: 150px;
}
.putu{
    text-align: justify;
}
.tutu{
    margin-right: 120px;
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, red);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
}
.link-button1{
    text-decoration: none;
    background-image:linear-gradient(rgb(237, 3, 148), rgb(123, 2, 89));
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
}

.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 70%;
}

.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
